img{
    width:500px;
    border: 8px solid #ff4700;
}

* {
    color: #ff4700;
    font-family: Courier;
}

h2 {
text-decoration: underline;
}

.negrito{
    font-weight: bold;
}

.imgcalc{
width: 500px;
}

.titulocalc{
font-weight: bold;
color: #ff4700;
}

.txtcalc{
    background-color: #000;
    color: #fff;
}

btncalc{
    background-color: #ff4700;
    color: #000;
}